.titulo-pagina {
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    margin: 10px;
}

.nome-propriedade {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;
}

.nome-propriedade {
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;
}

.bloco-1 {
    background-color: lightblue;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}
.bloco-2 {
    background-color: lightpink;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: red;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-row {
    display: flex;
    flex-direction: row;

    /* indiferente */
    background-color: #96b60b;
    padding: 16px;
    height: 500px;
}

.container-color {
    display: flex;
    flex-direction: row;

    /* indiferente */
    background-color: #51abbb;
    padding: 16px;
    height: 500px;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;

    /* indiferente */
    background-color: #963b96;
    padding: 16px;
    height: 500px;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;

    /* indiferente */
    background-color: #6ebb64;
    padding: 16px;
    height: 500px;
}

.container-row-reverse {
    display: flex;
    flex-direction: column-reverse;

    /* indiferente */
    background-color: #6ebb64;
    padding: 16px;
    height: 500px;
}

.container-color-reverse {
    display: flex;
    flex-direction: column-reverse;

    /* indiferente */
    background-color: #6ebb64;
    padding: 16px;
    height: 500px;
}