.titulo-pagina {
    text-align: center;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    margin: 10px;
}

.nome-propriedade {
    font-size: 2em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;
}

.nome-propriedade {
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    padding: 20px;
}

.bloco-1 {
    background-color: lightblue;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}
.bloco-2 {
    background-color: lightpink;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: red;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1 {
    background-color: lightblue;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}
.bloco-2 {
    background-color: lightpink;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: red;
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}


/* flex-direction: define a direção do eixo principal */
.container-row {
    display: flex;
    flex-direction: row;

    /* indiferente */
    background-color: #96b60b;
    padding: 16px;
    height: 500px;
}

.container-color {
    display: flex;
    flex-direction: row;

    /* indiferente */
    background-color: #51abbb;
    padding: 16px;
    height: 500px;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;

    /* indiferente */
    background-color: #963b96;
    padding: 16px;
    height: 500px;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;

    /* indiferente */
    background-color: #6ebb64;
    padding: 16px;
    height: 500px;
}

.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;

    /* indiferente */
    background-color: #2f312f;
    padding: 16px;
    height: 500px;
}

.container-column-reverse {
    display: flex;
    flex-direction: column-reverse ;

    /* indiferente */
    background-color: #57281c;
    padding: 16px;
    height: 500px;
}

.container-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* indiferente */
    background-color: #465a6b;
    padding: 16px;
    height: 500px;
}

.container-justify-flex-star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    /* indiferente */
    background-color: #0e2f4b;
    padding: 16px;
    height: 500px;   
}

.container-justify-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    /* indiferente */
    background-color: #6f978d;
    padding: 16px;
    height: 500px;   
}

.container-justify-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* indiferente */
    background-color: #7a70a5;
    padding: 16px;
    height: 500px;   
}

.container-justify-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    /* indiferente */
    background-color: #3f393b;
    padding: 16px;
    height: 500px;   
}

.container-justify-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    /* indiferente */
    background-color: #241646;
    padding: 16px;
    height: 500px;   
}

.container-alignitems-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* indiferente */
    background-color: #b66184;
    padding: 16px;
    height: 500px;
}

.container-alignitems-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center  ;
    align-items:flex-end;

    /* indiferente */
    background-color: #26273d;
    padding: 16px;
    height: 500px;
}

.container-alignitems-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center  ;
    align-items:flex-start;

    /* indiferente */
    background-color: #7bc2a4;
    padding: 16px;
    height: 500px;
}



.bloco-1-sem-altura {
    background-color: rgb(25, 47, 54);
    /* height: 150px; - Só vai alterar quando a altura não estiver definida . altura */
   
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}
.bloco-2-sem-altura {
    background-color: rgb(88, 78, 79);
    /* height: 150px; - Só vai alterar quando a altura não estiver definida . altura */
   
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-sem-altura {
    background-color: rgb(199, 160, 160);
       /* height: 150px; - Só vai alterar quando a altura não estiver definida . altura */
   
    width: 150px; 
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-alignitems-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center  ;
    align-items: stretch;

    /* indiferente */
    background-color: #6349a8;
    padding: 16px;
    height: 500px;
}

.bloco-1-fontes-diferente {
    background-color: rgb(115, 91, 153);
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 76px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}
.bloco-2-fontes-diferente {
    background-color: rgb(115, 91, 153);
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 96px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-fontes-diferente {
    background-color: rgb(115, 91, 153);
    height: 150px;
    width: 150px; 
    text-align: center;
    font-size: 116px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container-alignitems-baseline {
    display: flex;
    flex-direction: row;
    justify-content: center  ;
    align-items: baseline;

    /* indiferente */
    background-color: #44b986;
    padding: 16px;
    height: 500px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center  ;
    align-items: baseline;

    /* indiferente */
    background-color: #44b986;
    padding: 16px;
    height: 500px;
}